:root {
  --body-background-color: #09141f;
  --calendar-background-color: #0d1a26;
  --sidebar-background-color: #1890ff;
  --dates-background-color: #121f2b;
  --main-highlight: #44ff00;
  --ninety-deg-gradient: linear-gradient(90deg, rgba(68,255,0,1) 0%, #1890ff 100%);
  --fortyFive-deg-gradient: linear-gradient(45deg, #5cb0ff 0%,#1890ff 100%);
}